* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: 3px rgb(0, 0, 0);
    font-size: 6rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    width: 100%;
    height: 10vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
}

.navbar a {
    text-decoration: none;
    font-size: 3rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Hero Images */
.hero-1 { background-image: url(/images/Yellow-Journalism-Index-Header.jpg); }
.hero-2 { background-image: url(/images//Yellow-Journalism-More-Header.jpg); }

div[class*="hero"] {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

h2 {
    text-align: center;
    margin: 3vw;
    font-size: 3em;
}
.one,
.two,
.three > div > p{
    margin: 3vw;
    margin-left: 10%;
    margin-right: 10%;
}

p {
    font-size: 1.4em;
}

[class^="image"] {
    max-width: 20vw;
}

.one-flex {
    display: flex;
    flex-wrap: wrap;
}